
<div class="app-content">
  


  <!-- <img class="bg-image__hero" src="assets/img/chrisProfile.jpg" />
  <img class="bg-image__backdrop" src="assets/img/pexels-photo-forest-bg.jpg" /> -->

  <section class="module parallax parallax-1">
    <div class="container">
          <div class="splash">
            <h1 class="splash-head">{{title}}</h1>
            <table class="splash-subhead-container">
                <tr>
                    <td class="splash-subhead-header">
                        <p class="splash-subhead" onclick="coderFunc()">
                            <md-icon class="fa" fontSet="fa" fontIcon="fa-code"></md-icon> &nbsp; Coder
                            
                        </p>
                    </td>
                    <td class="splash-subhead-header">
                        <p class="splash-subhead">
                            <md-icon class="fa" fontSet="fa" fontIcon="fa-leanpub"></md-icon>
                            &nbsp;Teacher
                        </p>
                    </td>
                    <td class="splash-subhead-header">
                        <p class="splash-subhead">
                            <md-icon class="fa" fontSet="fa" fontIcon="fa-graduation-cap"></md-icon>&nbsp;Learner
                        </p>
                    </td>
                </tr>
            </table>
        
        <!-- <div class="bg-image__hero-container">
          <img src="assets/img/chrisProfile.jpg" class="bg-image__hero" />
        </div> -->
      </div>
    </div>
  </section><!--first section -->
  
  <section class="module content">
    <div class="container">
      <h2></h2>
      <p>The Grand Canyon  is a steep-sided canyon carved by the Colorado
          River in the state of Arizona in the United States. It is contained
          within and managed by Grand Canyon National Park, the Hualapai Tribal Nation,
          the Havasupai Tribe and the Navajo Nation. President Theodore Roosevelt was a major proponent
          of preservation of the Grand Canyon area, and visited it on numerous occasions
          to hunt and enjoy the scenery.
          The Grand Canyon is 277 miles (446 km) long, up to 18 miles (29 km) wide and
          attains a depth of over a mile (6,000 feet or 1,800 meters)</p>
    </div>
  </section><!--Grand Canyon content -->

  <section class="module parallax parallax-2">
    <div class="container">
      <h1>Is</h1>
    </div>
  </section> <!-- end of rocky mountains -->

  <section class="module content">
    <div class="container">
      <h2>The Rocky Mountains</h2>
      <p>The Rocky Mountains, commonly known as the Rockies, are a major mountain range
          in western North America. The Rocky Mountains stretch more than 3,000 miles
          (4,830 km) from the northernmost part of British Columbia, in western Canada,
          to New Mexico, in the southwestern United States. Within the North American
          Cordillera, the Rockies are somewhat distinct from the Pacific Coast Ranges and the
          Cascade Range and Sierra Nevada which all lie farther to the west.</p>
    </div>
  </section> <!-- end Rocky Mountain content -->

  <!-- <md-icon>fingerprint</md-icon>
  
  <button md-icon-button>
    <md-icon class="md-24">favorite</md-icon>
  </button>
  
  <button md-fab>
    <md-icon class="md-24">fingerprint</md-icon>
  </button> -->

  <!-- < -->
  
  <!-- <button md-mini-fab>
    <md-icon class="md-24">add</md-icon>
  </button>-->

  
  <!-- <md-card>
    <button md-button>FLAT</button>
    <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
    <button md-raised-button color="primary">PRIMARY RAISED</button>
    <button md-raised-button color="accent">ACCENT RAISED</button>
  </md-card> -->

  <!-- Checkboxes -->
  <!-- <md-card>
    <md-checkbox>Unchecked</md-checkbox>
    <md-checkbox [checked]="true">Checked</md-checkbox>
    <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
    <md-checkbox [disabled]="true">Disabled</md-checkbox>
  </md-card> -->

  <!-- Radio Buttons -->
  <!-- <md-card>
    <md-radio-button name="symbol">Alpha</md-radio-button>
    <md-radio-button name="symbol">Beta</md-radio-button>
    <md-radio-button name="symbol" disabled>Gamma</md-radio-button>
  </md-card> -->

  <!-- Slider -->
  <!-- <md-card>
    <md-slider min="1" max="5"></md-slider>
  </md-card> -->


 <!--  <md-icon class="fa-2x" fontSet="fa" fontIcon="fa-birthday-cake"></md-icon>
  <button md-raised-button>
    <md-icon class="md-24 fa-lg" fontSet="fa" fontIcon="fa-camera-retro"></md-icon>
    Say Cheez!
  </button> --> 
  
</div>